* {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h1, h2  {
    padding: 10px 0;

}

/* Logo   */
.logoBox {
    padding: 15px;

}
nav {
    display: flex;
    flex-direction: column;
}
.logo {
    background-color: rgb(253, 253, 253);
    color: rgb(10, 49, 58);
    font-size: 30px;
  
    border-bottom: 1px solid greenyellow;
    width: 10%;
}

.mainNav {
    display: flex;
    background-color: rgb(5, 42, 44);
    padding: 15px;
}
.mainNav li {
    list-style-type: none;
    text-decoration: none;
    padding: 10px;
    color: white;
}
/* Header   */
header {
    height: 500px;
    background-color: rgb(155, 226, 49);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;

}
header p {
    color: white;
    font-size: 50px;
}

/* 1 section   */

#main1 {
    display: flex;
    background-color: rgb(219, 223, 228);
    gap: 10px;
    color: rgb(46, 48, 48);

}
.main1Box {
    background-color: white;
    padding: 20px;
    margin: 20px 0;
}

/* 2 section  */
#main2 {
    display: flex;
    color: rgb(46, 48, 48);
}
.left {
    padding: 20px;
}

.right {
    width: 40%;
    display: flex;
    flex-direction: column;
    margin: 0 10px 10px 0;
}

.navigation {
    background-color: rgb(219, 223, 228) ;
}
.navigation li{
    list-style-type: none;
    padding: 15px;

}