* {
    padding: 0;
    transition: 2s;
}
body {
    margin: 0;
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

/* Header  */

header {
    background-image: url(./images/hero.avif);
    height: 500px;
    justify-content: center;
    align-items: center;
    display: flex;
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    filter: grayscale();

}
header:hover {
    filter: none;
}

.header {
    display: flex;
    flex-direction: column;
    color: white;
    width: 20%;
    justify-content: center;
    align-items: center;
}
.header:hover {
    scale: 1.2;
}
 button {
    width: 100px;
    height: 40px;
    color: white;
    background-color: rgb(19, 72, 67);
    border: 2px solid white;
    margin: 20px;
}
button:hover {
    scale: 1.2;
}
/* Main section  */
#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(14, 14, 12);
    color: rgb(215, 200, 200);

}
 section {
    width: 80%;
 }

/* Info  */

.info {
   display: flex;
   flex-direction: column;
   text-align: center;
   margin-top: 20px;
}


/* Cards  */
#box {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-evenly;
    margin-bottom: 50px;
}
.card  {
    width: 30%;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    text-align: center;
    filter: grayscale();

  
}
.card:hover {
    box-shadow: rgb(0, 0, 0) 0px 22px 70px 4px;
    scale: 1.2;
    position: relative;
    z-index: 5;
    filter: none;

}
.card img {
    width: 100%;
    height: 320px
}