* {
  scroll-behavior: smooth;
  transition: 2s;
}

/* NAV  */

nav {
  display: flex;
  justify-content: center;
  gap: 50px;
  width: 100%;
  margin-top: 50px;
}
nav a {
  text-decoration: none;
  color: black;
  border: 2px solid black;
  padding: 5px;
  width: 100px;
  text-align: center;
  font-size: 2rem;

}

a:hover {
  background-color: blue;
}

div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
table *{
  border: 1px solid rgb(0, 0, 0);
  padding: 5px;
}

/* ADD  */

.add-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px;
  background: rgb(145, 150, 178);
  width: 50%;
  position: absolute;
  top: 200px;
  border: 2px solid black;

}
.add-input {
  margin: 10px;
  padding: 5px;
  width: 200px;
}
.add-button {
  margin: 10px;
  padding: 5px;
  background-color: green;
  color: white;
}
label {
  font-size: 2rem;
}


/* HOME  */

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px;
  background: rgb(145, 150, 178);
  width: 50%;
  position: absolute;
  top: 200px;
  border: 2px solid black;
  
}
.home-title {
  font-size: 2rem;
  margin-bottom: 20px;
}
.home-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 1.2rem;
}
.delete { 
  background-color: rgb(214, 99, 99);
}

/* TABLE  */
table.home-table {
  background-color: rgb(255, 255, 255);
}